/* ١. ڕێکخستنی گشتی و فۆنت */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Vazirmatn', sans-serif;
    color: white;
}

.main-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 21px;
}

/* ٢. چاککردنی بۆکسە سەرەکییەکە (کارتەکە) */
.social-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px; /* لێواری زۆر خڕ وەک وێنەکە */
    padding: 40px 2
